@font-face {
  font-family: "myfont";
  src: url(../Fonts/Ubuntu-Regular.otf), url(../Fonts/Ubuntu-Regular.ttf),
    url(../Fonts/Ubuntu-Regular.woff), url(../Fonts/Ubuntu-Regular.woff2);
}
* {
  font-family: "myfont";
}
:root {
  --primary--color: #434578;
}
.Loginpage_container {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Loginpage_container > .row > div:nth-child(1) > img {
  height: 400px;
  width: 100%;
}
.Login_Btn {
  background-color: var(--primary--color) !important;
  font-weight: bold !important;
}
.bgclr {
  background-color: #ebebeb !important;
  height: 100%;
  padding: 17px;
  width: 100%;
}
.bgclr > div > div {
  border-radius: 15px;
}
.tablerowcolor {
  background-color: var(--primary--color) !important;
  color: #fff;
}
.Loader {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 50px;
}
table {
  margin: 0 !important;
}
.bx-shadow-none {
  box-shadow: none !important;
}
.class_badge {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  background-color: var(--primary--color);
  border-radius: 50px;
  color: white;
  font-size: 30px;
  
}
.classpage_heading{
  color: var(--primary--color);
}
.content-container > div > div {
  border-radius: inherit;
}
.content-container > div {
  height: fit-content;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bgclr > div {
  height: fit-content;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Navbar_logo {
  width: 100px;
}
.Navbar_main {
  z-index: 5;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: white;
  box-shadow: 0 8px 6px -6px rgb(179, 179, 179);
}
.pt-as {
  padding-top: 68px;
}
.Dashboard_card,
.Dashboard_card2,
.Dashboard_card1,
.Dashboard_card3,
.Dashboard_card4,
.Dashboard_card5 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  height: max-content;
  padding: 10px;
}
.icons_Container {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  background-color: rgb(29, 173, 209);
  border-radius: 50px;
  color: white;
  font-size: 25px;
  position: absolute;
  top: -20%;
  right: 15px;
}
.icons_Container1 {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  background-color: rgb(46, 224, 70);
  border-radius: 50px;
  color: white;
  font-size: 26px;
  position: absolute;
  top: -20%;
  right: 15px;
}
.icons_Container2 {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  background-color: rgb(218, 57, 35);
  border-radius: 50px;
  color: white;
  position: absolute;
  top: -20%;
  right: 15px;
  font-size: 25px;
}
.icons_Container3 {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  background-color: rgb(116, 35, 170);
  border-radius: 50px;
  color: white;
  position: absolute;
  top: -20%;
  right: 15px;
  font-size: 25px;
}
.icons_Container4 {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  background-color: rgb(170, 134, 35);
  border-radius: 50px;
  color: white;
  position: absolute;
  top: -20%;
  right: 15px;
  font-size: 25px;
}
.icons_Container5 {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  background-color: rgb(22, 163, 121);
  border-radius: 50px;
  color: white;
  position: absolute;
  top: -20%;
  right: 15px;
  font-size: 25px;
}
.Dashboard_card5 > div > h5 {
  color: rgb(22, 163, 121);
  font-weight: bold;
}
.Dashboard_card > div > h5 {
  color: rgb(29, 173, 209);
  font-weight: bold;
}
.Dashboard_card1 > div > h5 {
  color: rgb(46, 224, 70);
  font-weight: bold;
}
.Dashboard_card2 > div > h5 {
  color: rgb(218, 57, 35);
  font-weight: bold;
}
.Dashboard_card4 > div > h5 {
  color: rgb(170, 134, 35);
  font-weight: bold;
}
.Dashboard_card3 > div > h5 {
  color: rgb(116, 35, 170);
  font-weight: bold;
}
.pt-37 {
  padding-top: 37px;
}
.blog_image {
  height: 200px;
  object-position: center;
}

p {
  margin: 0 !important;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #eee;
  border-color: #eee;
}

.pagination button.active {
  font-weight: 900;
  border-color: #101010;
  background: #ffe400;
  color: #101010;
}

.totalclass_container {
  border-radius: 15px;
}
